<!DOCTYPE html>
<html lang="en" ng-app="audiotest">
<head>
  <meta charset="UTF-8">
  <title>Birdsong</title>
  <script type = "text/javascript" src="node_modules/angular/angular.js"></script>
  <script type = "text/javascript" src="node_modules/angular-audio/app/angular.audio.js"></script>

</head>
<body>
    <div ng-controller='audioDemo'>
    <button ng-click='audio.paused ? audio.play() : audio.pause()'>Pause</button>
    <button ng-click='audio.restart()'>Stop</button>
    <button ng-click='audio.muting = !audio.muting'>Mute</button>

    <label>Current Time</label>
    <input class='form-control' type=text ng-model='audio.currentTime'>
    <label>Volume</label>
    <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.volume'>
    </div>
    <script>
    angular.module('audiotest',['ngAudio'])
    .controller('audioDemo',function($scope,ngAudio){
       $scope.audio = ngAudio.load('birdcall.mp3');
    })
    </script>
</body>
</html>
