<!DOCTYPE html>
<html lang="en" ng-app="birds">
<head>
  <meta charset="UTF-8">
  <title>Birdsong</title>
  <script type = "text/javascript" src="node_modules/angular/angular.js"></script>
  <script type = "text/javascript" src = "app.js"></script>
</head>
<body ng-controller="BirdsController">
  <h1>Your one-stop shop for avian audio!</h1>

  <div id="container">
        <div id = "subheading">
            <h2>Birds Registered {{ birds.length }}</h1>
        </div>
        <div id ="search">
            <input type = "text" placeholder = "search" name = "search" ng-model = "searchTerm" ng-change = "filter()">
        </div>
        <div id="birds-list">
            <div>
                <div class="bird-entries" ng-repeat="bird in birds">
                    <label>
                        <button ng-click="deleteBird(bird._id)">Delete</button> <span>  {{ bird.name }} - {{ bird.bird }}  </span>
                    </label>
                </div>
            </div>
        </div>
        <p>Name: {{ formData.name }}</p>
        <p>Bird: {{ formData.bird }}</p>
        <form>
            <input type="text" placeholder="name" name="name" ng-model = "formData.name">
            <input type="text" placeholder="bird" name="bird" ng-model = "formData.bird">
            <button type="submit" ng-click = "createBird()">Submit</button>
        </form>
</body>
</html>
