<!DOCTYPE html>
<html lang="en" ng-app="birds">
<head>
  <meta charset="UTF-8">
  <title>BirdSong</title>
  <script type = "text/javascript" src="node_modules/angular/angular.js"></script>
  <script type = "text/javascript" src = "app.js"></script>
</head>
<body ng-controller="BirdsController">
    <p>Welcome to Birdsong!</p>
    <p>Number of birds: {{ birds.length }}</p>
    <div>
        <div ng-repeat="bird in birds">
            <span>
                <p><button type="submit" ng-click="deleteBird(bird._id)">Remove</button>  {{ bird.name }}: {{ bird.species }}</p>
            </span>
        </div>
  </div>
  <button ng-click="makeBig()">Enlarge Birds!</button>

  <form>
      <input type="text" placeholder="name" name="name" ng-model = "formData.name">
      <input type="text" placeholder="species" name="species" ng-model = "formData.species">
      <button type="submit" ng-click = "addBird()">Submit</button>
  </form>
</body>
</html>
